<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success]%> </p>
<% end %>
<div style="height: 20px"></div>



  


  <div class="row">
    <div class="col-3"><div class="container-fluid"></div></div>
    <div class="col-6">
      <% if current_admin %>
        <div class="add-post">
          <strong><label>Create Post</label></strong><hr>
          <% if flash[:errors] %>
            <% flash[:errors].each do |e|%>
              <p class="text-danger"><%= e %></p>
            <% end %>
          <% end %>
          <%= form_for(@add_post) do |f|%>
            <%= f.hidden_field :admin_id, value: current_admin.id %>
            <p>
              <%= f.text_field :title , :class => 'input_field',placeholder: "Title of Post"%>
            </p>
            <p>
              <%= f.text_area :description ,size: "10x5", :class => 'input_field',placeholder: "Description of Post"%>
            </p>
            <p>
              <%= f.file_field :picture , :class => 'input_field'%>
            </p>
            <center> <%= f.submit :class => 'btn-submit'%> </center>
          <% end %>
        </div>
      <% end %>
      <br/>
      <% @posts.each do |post| %>
        <div class="post-container">
          <div class="post-info">
            <br/>
            <p><%= link_to post.admin.name, profile_path(post.admin.id), :class => "name" %>
              
            </p>
            <h3><%= post.title %></h3>
            <p><%= post.description %></p>
            
          </div>
          <a href="posts/<%= post.id %>"> <%= image_tag post.picture_url, width: '100%', :class => "card-img" if post.picture.present? %></a>

          <% if current_admin %>
            <% if post.admin_id == current_admin.id %>
              <div class="dropdown">
                <span class="hover-icon"><strong>. . .</strong></span>
                <div class="dropdown-content">
                  <label><%= link_to 'Edit Post', edit_post_path(post) %></label>
                  <label><%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %></label>
                </div>
              </div>
            <% end %>
          <% end %>
          <hr>
          <div class="post-comment">
             <center><%= link_to "#{post.comment.count} comments", post_path(post.id) %></center>
          </div>
         
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-3"><div class="container-fluid"></div></div>
  </div>
<br>

