<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success]%> </p>
<% end %>
<div style="height: 20px"></div>
<% if current_admin %>
  
  <div class="container" style="width: 60%">
    <div class="jumbotron" id="new_post">
      <center><h2>Add new Post</h2></center>

      <% if flash[:errors] %>
        <% flash[:errors].each do |e|%>
          <p class="text-danger"><%= e %></p>
        <% end %>
      <% end %>


      <%= form_for(@add_post) do |f|%>
        <%= f.hidden_field :admin_id, value: current_admin.id %>
        <p>
          <%= f.label :title %>
          <%= f.text_field :title , :class => 'input_field'%>
        </p>
        <p>
          <%= f.label :description %>
          <%= f.text_area :description ,size: "10x10", :class => 'input_field'%>
        </p>
        <p>
          <%= f.label :picture %>
          <%= f.file_field :picture , :class => 'input_field'%>
        </p>
        <center> <%= f.submit :class => 'btn btn-block btn-primary'%> </center>
      <% end %>

    </div>
  </div>



<% end %>


    <div class="container" style="width: 60%">
      <% @posts.each do |post| %>
        <br/>
        <br/>
        <div class="jumbotron">
          <div>
            <%= link_to post.admin.name, profile_path(post.admin.id)%>
            <h3><%= post.title %></h3>
            <p><%= post.description %></p>
            
          </div>
          <a href="posts/<%= post.id %>"> <%= image_tag post.picture_url, width: '100%', :class => "card-img-top" if post.picture.present? %></a>

          <% if current_admin %>
            <% if post.admin_id == current_admin.id %>
              <%= link_to 'Edit Post', edit_post_path(post) %> | 
              <%= link_to 'Destroy Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
          <hr>
          <%= link_to "#{post.comment.count} comments", post_path(post.id) %>
        </div>
        <hr>
      <% end %>
    </div>


<br>

