<h1>PROFILE</h1>
<h1><%= @profile.name %></h1>

<div class="container" style="width: 60%">
      <% @profile.post.each do |post| %>
        <br/>
        <br/>
        <div class="jumbotron">
          <div>
            <%= link_to post.admin.name, profile_path(post.admin.id)%>
            <h3><%= post.title %></h3>
            <p><%= post.description %></p>
            
          </div>
          <a href="posts/<%= post.id %>"> <%= image_tag post.picture_url, width: '100%', :class => "card-img-top" if post.picture.present? %></a>

          <% if current_admin %>
            <% if post.admin_id == current_admin.id %>
              <%= link_to 'Edit Post', edit_post_path(post) %> | 
              <%= link_to 'Destroy Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
          <hr>
          <%= link_to "#{post.comment.count} comments", profile_post_path(post.id) %>
        </div>
        <hr>
      <% end %>
    </div>